.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    text-align: center;
    user-select: none;

    .wrap {
        width: 500px;
        margin: 0 auto;
        padding: 40px;
        border: 1px solid #333;
        border-radius: 5px;


        .menu-title {
            font-size: 35px;
            font-weight: 500;
        }

        .option-1,
        .option-2 {
            font-size: 18px;
            margin-top: 25px;
            transition: .3s;

            &:hover {
                transform: translateY(-4px);
            }
        }
    }
}