.exclusive {
    user-select: none;

    .exclusive-title {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }

    .content {
        padding: 20px 80px;

        p {
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
        }

        .label {
            display: inline-block;
            margin-top: 15px;
            font-size: 16px;
        }

        input {
            font-size: 16px;
        }

        #numProcesses {
            width: 50px;
            margin: 0 10px;
            padding: 6px;
            border-radius: 5px;
            border: 1px solid #333;
        }

        .submit-btn,
        .run-btn {
            padding: 6px 10px;
            background-color: #fff;
            border-radius: 50px;
            border: 1px solid #333;
            transition: .3s;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
                transform: translateX(4px);
            }
        }

        .run-btn {
            margin: 16px 0;
        }

        #burstTimeInputs {
            .process-item {
                margin-top: 10px;

                label {
                    font-size: 16px;
                }

                input {
                    margin: 0 10px;
                    width: 50px;
                    padding: 6px;
                    border-radius: 5px;
                    border: 1px solid #333;
                }

                i {
                    font-size: 14px;
                    margin-right: 6px;
                }
            }
        }

        #output {
            p {
                margin-bottom: 10px;
            }

            .container {
                display: flex;
                position: relative;
                margin-bottom: 40px;
            }

            .item {
                position: relative;
                width: 80px;
                padding: 10px 0;
                font-size: 17px;
                text-align: center;
                border: 1px solid #333;
                border-right: none;
            }

            .item:last-child {
                border-right: 1px solid #333;
            }

            .absolute {
                position: absolute;
                font-size: 14px;
                color: #ff623d;
                font-weight: 500;
                right: 0;
                bottom: -24px;
            }

            .default {
                position: absolute;
                font-size: 14px;
                color: #ff623d;
                font-weight: 500;
                left: 0;
                bottom: -22px;
            }

            .result {
                display: block;
                margin-top: 24px;

                span {
                    display: block;
                    margin-top: 10px;
                }

                i {
                    font-size: 14px;
                    color: #47d864;
                    margin-right: 6px;
                }

                .icon-arrow {
                    color: #000;
                }
            }

            .result-process {
                margin: 8px 0;
            }

            .wrapper {
                margin-bottom: 20px;
            }
        }
    }
}